/* Pseudo-class Selector */

/* 1. first-child */
li:first-child {
  color: green;
}

.movie:first-child {
  font-size: 32px;
}

/* 2. last-child */
li:last-child {
  color: darkgreen;
}

/* 3. nth-child */
li:nth-child(4){
  color: red;
}

/* 4. first-of-type */
.fot-class:first-of-type {
  color: yellow;
}

/* 5. last-of-type */
p:last-of-type {
  color: blue;
}

/* 6. nth-of-type */
p:nth-of-type(2n){
  color: aqua;
}

/* 7. not() */
input:not([type="text"]) {
  background-color: indigo;
}

/* 8. link */
a:link {
  color: red;
}

/* 9. visited */
a:visited {
  color: brown;
}

/* 10. hover */
input[value="click me!"] {
  background-color: skyblue;
  border: none;
}

input[value="click me!"]:hover {
  background-color: teal;
  color: white;
}

/* 11. active */
input[value="click me!"]:active {
  background-color: yellow;
}

/* 12. focus */
input[type="text"]:focus {
  background-color: brown;
}

/* 13. enabled */
input[type="text"]:enabled {
  background-color: bisque;
}

/* 14. disabled */
input[type="text"]:disabled {
  background-color: red;
}

/* 15. checked */
input[type="radio"]:checked {
  outline: 3px solid red;
}

input[type="checkbox"]:checked {
  outline: 3px solid blue;
}

